<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Web Scraper</h1>
    <form action="/fetch" method="post" id="fetch-form">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url">
        
        <label for="data_type">Select Data Type:</label>
        <select id="data_type" name="data_type">
            <option value="all">All</option>
            <option value="emails">Emails</option>
            <option value="phone_numbers">Phone Numbers</option>
            <option value="images">Images</option>
            <option value="videos">Videos</option>
            <option value="nips">NIPs</option> 
        </select>
        
        <button type="submit">Fetch</button>
    </form>
    {% if main_data %}
    <h2 class="collapsible" >{{ main_data.url }}:</h2>
    <div class="content">
    {% if main_data.emails %}
        <button class="collapsible data-button">Emails ({{ main_data.emails|length }})</button>
        <div class="content">
            <ul>
            {% for email in main_data.emails %}
                <li><a href="mailto:{{ email }}">{{ email }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if main_data.phone_numbers %}
        <button class="collapsible data-button">Phone Numbers ({{ main_data.phone_numbers|length }})</button>
        <div class="content">
            <ul>
            {% for phone in main_data.phone_numbers %}
                <li><a href="tel:{{ phone }}">{{ phone }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if main_data.images %}
        <button class="collapsible data-button">Images ({{ main_data.images|length }})</button>
        <div class="content">
            <ul>
            {% for img in main_data.images %}
                <li><img src="{{ img }}" alt="Image" style="max-width:200px;"></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if main_data.videos %}
        <button class="collapsible data-button">Videos ({{ main_data.videos|length }})</button>
        <div class="content">
            <ul>
            {% for video in main_data.videos %}
                <li><iframe src="{{ video }}" frameborder="0" allowfullscreen style="max-width: 600px; width: 100%; height: 315px;"></iframe></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if main_data.nips %}
        <button class="collapsible data-button">NIPs ({{ main_data.nips|length }})</button>
        <div class="content">
            <ul>
            {% for nip in main_data.nips %}
                <li>{{ nip }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
    <h2>Subpages:</h2>
    {% for subpage in main_data.subpages %}
        {% if subpage.emails or subpage.phone_numbers or subpage.images or subpage.videos or subpage.nips %}
            <h3 class="collapsible">{{ subpage.url }}:</h3>
            <div class="content">
            {% if subpage.emails %}
                <button class="collapsible data-button">Emails ({{ subpage.emails|length }})</button>
                <div class="content">
                    <ul>
                    {% for email in subpage.emails %}
                        <li><a href="mailto:{{ email }}">{{ email }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if subpage.phone_numbers %}
                <button class="collapsible data-button">Phone Numbers ({{ subpage.phone_numbers|length }})</button>
                <div class="content">
                    <ul>
                    {% for phone in subpage.phone_numbers %}
                        <li><a href="tel:{{ phone }}">{{ phone }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if subpage.images %}
                <button class="collapsible data-button">Images ({{ subpage.images|length }})</button>
                <div class="content">
                    <ul>
                    {% for img in subpage.images %}
                        <li><img src="{{ img }}" alt="Image" style="max-width:200px;"></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if subpage.videos %}
                <button class="collapsible data-button">Videos ({{ subpage.videos|length }})</button>
                <div class="content">
                    <ul>
                    {% for video in subpage.videos %}
                        <li><iframe src="{{ video }}" frameborder="0" allowfullscreen style="max-width: 600px; width: 100%; height: 315px;"></iframe></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if subpage.nips %}
                <button class="collapsible data-button">NIPs ({{ subpage.nips|length }})</button>
                <div class="content">
                    <ul>
                    {% for nip in subpage.nips %}
                        <li>{{ nip }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}

    <a href="/stats" class="stats-button">Stats & Plots</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
